*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Share style  */
.font-open-san{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
  font-size: 45px;
  font-weight: bolder;
}
.color-r{
  color: #FD6E0A;
}
.btn{
  background-color: #FD6E0A;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Main style  */
header{
  background-color: #FFF8F3;
  /* background-color: burlywood; */
  padding-top: 51px;
}

nav{
  width: 71%;
  max-width: 1140px;
  border: 1px solid black;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .manu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .manu a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}