*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Share style  */
.font-open-san{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
  font-size: 45px;
  font-weight: bolder;
}
.color-r{
  color: #FD6E0A;
}
.btn{
  background-color: #FD6E0A;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Main style  */
header{
  background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
  background-position: 20px 38px, bottom right;
  background-repeat: no-repeat;
  padding-top: 51px;
}

nav{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid black; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .manu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .manu a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner{
  /* border: 1px solid black; */
  margin: 47px 38px 0px 14.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
#banner .banner-content{
  width: 585px;
}
#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 80px;
  font-weight: bold;
  
}
#banner .banner-content p{
  font-size: 18px;
  font-weight: normal;
  color: #757575;
  line-height: 30px;
  margin: 30px 0px;
}
#banner .banner-img img{
  max-width: 584px;
  height: 676px;

  /* image ar niche je bydefault gap thake saida dur korar jonno */
  vertical-align: middle;
}

.about{
  margin: 69px 14%;
  background-color: #FFF8F3;
  /* background-color: burlywood; */
}
.about .about-container{
  padding: 131px 12%;
}
.about .about-container h2{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 30px;
  color: #181818;
}
.about .about-container .discription{
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.about .about-container .info{
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 30px;
}

.skills{
  text-align: center;
  padding: 0px 14% 130px 14%;
}
.skills .skills-container h2{
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 30px;
}
.skills .skills-container .skills-p{
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  color: #757575;
  padding: 0px 13% 50px 13%;
}
.skills .skills-card{
  display: flex;
  text-align: left;
  justify-content: space-between;
  gap: 24px;
}
.skills .skills-card .card{
  /* border: 2px solid black; */
  justify-content: space-between;
  padding: 30px;
  box-shadow: 0px 0px 10px #b0e9f0;
}
.skills .skills-card .card img{
  height: 44px;
  width: 44px;
  margin-bottom: 30px;
}
.skills .skills-card .card h2{
  font-size: 20px;
  font-weight: bold;
}
.skills .skills-card .card p{
  font-size: 16px;
  color: #474747;
  line-height: 28px;
}


.resume{
  text-align: center;
  align-items: center;
  margin: 0px 14% 0px 14%;
}
.resume h2{
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 80px;
}
.resume .edu-ex{
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-bottom: 50px;
}
.education-details,.experience-details{
  /* width: 31%; */
  max-width: 511px;
}

.education h3, .experience h3{
  font-size: 30px;
  font-weight: bold;
  line-height: auto;
  padding-bottom: 30px;
  color: #474747;
}
.education-details h3, .experience-details h3{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 0px;
}
.education-details h4, .experience-details h4{
  font-size: 20px;
  font-weight: 550;
  color: #474747;
}
.education-details p, .experience-details p{
  font-size: 16px;
  line-height: 27px;
  padding-right: 10px;
  margin: 20px 0px 30px 0px;
}
footer{
  background-color: #FFF8F3;
  padding-bottom: 120px;
}
.Contact{
  display: flex;
  gap: 120px;
  padding-bottom: 120px;
  padding: 120px 14% 120px 14%;
  margin-top: 120px;
}
.Contact  h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 20px;
}
.Contact .connect p{
  line-height: 28px;
  font-size: 16px;
  color: #474747;
  padding-bottom: 30px;
  max-width: 576px;
}
.Contact .connect a{
  margin-right: 24px;
}
form{
  padding-right: 14%;
}
form .massage{
}
.form .massage h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.form-element input[type="text"]{
  width: 461px;
  height: 60px;
  margin-bottom: 24px;
  padding: 18px 349px 18px 30px;
  border: none;
}
.form-element textarea{
  width: 461px;
  height: 180px;
  margin-bottom: 24px;
  padding: 18px 349px 134px 30px;
  border: none;
}
